[submodule "cmake-common"]
	path = cmake/common
	url = git@engit.aja.com:sw/cmake-modules.git
	branch = main
[submodule "ntv2-cmake"]
	path = cmake/ntv2
	url = git@engit.aja.com:sw/ntv2/cmake.git
	branch = main
