<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ntv2qtpreview</string>
	<key>CFBundleName</key>
	<string>ntv2qtpreview</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIdentifier</key>
	<string>com.aja.ntv2qtpreview</string>
	<key>CFBundleIconFile</key>
	<string>app.icns</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © AJA Video Systems, Inc. 2013</string>
	<key>CFBundleGetInfoString</key>
	<string>0.0.0 Copyright © AJA Video Systems, Inc. 2013</string>
</dict>
</plist>
