<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleName</key>
	<string>ntv4player</string>
	<key>CFBundleExecutable</key>
	<string>ntv4player</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.aja.ntv4player</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>N4pl</string>
	<key>CFBundleVersion</key>
	<string>0.0.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>CFBundleGetInfoString</key>
	<string>0.0.0 Copyright © AJA Video Systems, Inc. 2012-AJA_BUILD_YEAR</string>
	<key>NSHumanReadableCopyright</key>
	<string>AJA Mac SDK 0.0.0 Copyright © AJA Video Systems, Inc. 2012-AJA_BUILD_YEAR</string>
</dict>
</plist>
